
body{
    background-color: rgb(177, 249, 249);
}
.head_line {
    background-color: blue;
    color: white;
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.head_line h1{
    
    margin-bottom: 10px;
    padding-left: 30px;
}
.head_line p {
    padding-left: 30px;
}
.images{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1px;
    box-shadow: 0px 5px 10px gray; 
}

.images h2 {
    margin-bottom: 20px;
    padding-left: 30px;
}

.images p {
  padding-left: 30px;
  margin-bottom: 30px;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.image-box {
  padding: 10px;
  width: 150px;
  text-align: center;
}

.image-box img {
  width: 100px;
  height: 100px;
  
}



